body {
    background-color: black;
    color: whitesmoke;
}

#map {
    height: 80vh;
    width: 50vw;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin: 0 10vw;
    align-items: center;
}
.controls *{
    margin-right: 15px;
}
.controls label {
    margin-right: 10px;
}

.controls button {
    margin-right: 10px;
}

canvas {
    width: 100% !important;
    height: 400px !important;
}

.legend {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.legend div {
    display: flex;
    align-items: center;
}

.legend div span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid white;
}
.date{
    font-size: 1.5em;
}

h1{
    text-align: center;
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
.mapContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.buttons{
    margin-top: 30px;
}

.bar {
    fill: steelblue;
}
.bar:hover {
    fill: orange;
}
.axis-label {
    font-size: 14px;
}
#chart{
    margin: 0 auto;
    width: 40vw;
}

.underCharts{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    /*poziomo*/
    flex-direction: row;

}

.legendContainer1{
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    align-items: baseline;
    justify-content: space-around;
}